.main{
    width: 100vw;
    height: 45vh;
    border: 1px solid black;
}
img{
    width: 100vw;
    height: 45vh;
}
@media screen and (max-width: 767px) {
    .main{
        height: 25vh;
    }
    img{
        height: 25vh;
    }
}