/* frontCarousel starts */
.mainBox{
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-left: 1px;
    margin-bottom: 5px;
}
.mainBox img{
    border-radius: 10px;
}
.carouselSize{
    height: 100%;
    margin: auto;
}

.carouselSize .carousel-inner{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}


.sidecar{
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box{
    width: 100%;
    height: 47.5%;
    border: 1px solid black;
    border-radius: 10px;
}
@media screen and (max-width: 767px) {
    .mainBox{
        height: 45vh;
    }
    .carouselSize{
        height: 25vh;
    }
    .sidecar {
      flex-direction: row;
      justify-content: space-between;
      height: 15vh;
    }
    .sidecar .box{
        height: 100%;
        width: 48.5%;
    }
}
/* frontCarousel ends */

/* categories starts */
.categoriesBox, .scroller{
    width: 100vw;
    height: 65vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0px -10px 0px 10px;
}
.scroller{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px;
}
.categoriesBox h3{
    margin-top: 30px;
}
.categoriesBox .rows{
    height: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}
.categoriesBox .rows .cols{
    width: 245px;
    margin: 0px 20px;
}
.categoriesBox .rows .cols .colorDiv{
    width: 245px;
    height: 60%;
    border-radius: 5% 5% 40% 40%;
    background-color: #3297a9;
    position: relative;
    box-shadow: 1px 1px 10px black;
}

.categoriesBox .rows .cols img{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 150%;
    width: auto;
    transform: translate(-50%,0%);
}
.categoriesBox .rows .cols .others{
    top: 40%;
    height: 110%;
}
.categoriesBox .rows .cols .others2{
    top: 45%;
    height: 100%;
}

.categoriesBox .rows .cols .colorDiv h4{
    color: white;
    font-weight: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 767px) {
    .categoriesBox{
        height: 50vh;
    }
    .categoriesBox .rows{
        height: 25vh;
    }
    .categoriesBox .rows .cols{
        width: 150px;
        margin: 15px;
    }
    .categoriesBox .rows .cols .colorDiv{
        width: 150px;
    }
    .categoriesBox .rows .cols .others{
        top: 55%;
        height: 110%;
    }
    .categoriesBox .rows .cols .others2{
        top: 65%;
        height: 100%;
    }
}
/* categories ends */

/* downCarousel starts */
.mainDownCarousel{
    width: 100vw;
    height: 45vh;
    border: 1px solid black;
}
.mainDownCarousel img{
    width: 100vw;
    height: 45vh;
}
@media screen and (max-width: 767px) {
    .mainDownCarousel{
        height: 25vh;
    }
    .mainDownCarousel img{
        height: 25vh;
    }
}
/* downCarousel ends */

/* brands starts */
.categoriesBox1, .scroller{
    width: 100vw;
    height: 45vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 0px -10px 0px 10px;
}
.scroller{
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0px;
}
.categoriesBox1 h3{
    margin-top: 30px;
}
.categoriesBox1 .rows{
    height: 28vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 5px;
}
.categoriesBox1 .rows .cols{
    width: 245px;
    margin: 0px 20px;
}
.categoriesBox1 .rows .cols .colorDiv{
    width: 245px;
    height: 60%;
    border-radius: 5% 5% 40% 40%;
    background-color: #3297a9;
    position: relative;
    box-shadow: 1px 1px 10px black;
}

.categoriesBox1 .rows .cols img{
    position: absolute;
    top: 20%;
    left: 50%;
    height: 150%;
    width: auto;
    transform: translate(-50%,0%);
}
.categoriesBox1 .rows .cols .others{
    top: 40%;
    height: 110%;
}
.categoriesBox1 .rows .cols .others2{
    top: 45%;
    height: 100%;
}

.categoriesBox1 .rows .cols .colorDiv h4{
    color: white;
    font-weight: 100;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-50%);
}

@media screen and (max-width: 767px) {
    .categoriesBox1{
        height: 30vh;
    }
    .categoriesBox1 .rows{
        height: 25vh;
    }
    .categoriesBox1 .rows .cols{
        width: 150px;
        margin: 15px;
    }
    .categoriesBox1 .rows .cols .colorDiv{
        width: 150px;
    }
    .categoriesBox1 .rows .cols .others{
        top: 55%;
        height: 110%;
    }
    .categoriesBox1 .rows .cols .others2{
        top: 65%;
        height: 100%;
    }
}