<div class="mainBox row text-center">
    <div id="carouselExampleAutoplaying" class="carousel slide carouselSize container-fluid col-md-8" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="assets/images/carousel1.avif" class="d-block w-100 object-fit-fill" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/carousel2.jpeg" class="d-block w-100 object-fit-fill" alt="...">
            </div>
            <div class="carousel-item">
                <img src="assets/images/carousel3.jpeg" class="d-block w-100 object-fit-fill" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="sidecar col-md-4">
        <div class="box d-flex justify-content-evenly">
            <img src="assets/images/carousel3.jpeg" class="d-block w-100 object-fit-fill" alt="...">
        </div>
        <div class="box d-flex justify-content-evenly">
            <img src="assets/images/carousel2.jpeg" class="d-block w-100 object-fit-fill" alt="...">
        </div>
    </div>
</div>

<!-- categories -->
<section class="categoriesBox text-center rowdies-regular">
    <h3>SHOP BY CATEGORIES</h3>
    <div class="scroller">
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4>Ayurvedic</h4>
                <img src="assets/images/ayurvedic.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Baby<br>Care</h4>
                <img class="others" src="assets/images/babyPr.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Daily<br>Products</h4>
                <img class="others" src="assets/images/daily.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Family<br>Nutrition</h4>
                <img class="others2" src="assets/images/family.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Feminine<br>Hygiene</h4>
                <img src="assets/images/feminine.png" alt="">
            </div>
        </div>
    </div>
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4 id="categoryName">Homepathic</h4>
                <img class="others" src="assets/images/homeopathy.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Medicines</h4>
                <img class="others" src="assets/images/medicine.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Orthopaedics</h4>
                <img class="others2" src="assets/images/ortho.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Sanitizers<br>& Masks</h4>
                <img class="others2" src="assets/images/sanitizer.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Vitamins &<br>Supplements</h4>
                <img class="others" src="assets/images/vitamins.png" alt="">
            </div>
        </div>
    </div>
    </div>
</section>

<!-- midbox -->
<div class="mainDownCarousel">
    <img class="d-block w-100 object-fit-fill" src="assets/images/ad.png" alt="">
</div>

<!-- brands -->
<section class="categoriesBox1 text-center rowdies-regular">
    <h3>SHOP BY BRANDS</h3>
    <div class="scroller">
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4>Himalaya</h4>
                <img class="others" src="assets/images/himalaya.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Dabur</h4>
                <img class="others" src="assets/images/dabur.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Abbott</h4>
                <img class="others" src="assets/images/abbott.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Cipla</h4>
                <img src="assets/images/cipla.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Revital</h4>
                <img class="others" src="assets/images/revital.png" alt="">
            </div>
        </div>
    </div>
    </div>
</section>