<section class="categoriesBox text-center rowdies-regular">
    <h3>SHOP BY BRANDS</h3>
    <div class="scroller">
    <div class="rows">
        <div class="cols">
            <div class="colorDiv">
                <h4>Himalaya</h4>
                <img class="others" src="assets/images/himalaya.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Dabur</h4>
                <img class="others" src="assets/images/dabur.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Abbott</h4>
                <img class="others" src="assets/images/abbott.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Cipla</h4>
                <img src="assets/images/cipla.png" alt="">
            </div>
        </div>
        <div class="cols">
            <div class="colorDiv">
                <h4>Revital</h4>
                <img class="others" src="assets/images/revital.png" alt="">
            </div>
        </div>
    </div>
    </div>
</section>