<div class="overlay">
    <!-- <img id="cross" src="assets/images/cross.png" alt=""> -->
<div class="card loginForm rowdies-regular">
    <div class="imageholder">
        <img src="assets/images/profile.png" alt="">
    </div>
    <div class="imageholder"></div>
    <form class="formField" [formGroup]="form" (submit)="submit()">
        <div class="row mb-3">
            <label for="email" class="col-sm-3 col-form-label">Email</label>
            <div class="col-sm-9">
                <input formControlName="email" type="email" class="form-control" id="email" placeholder="Enter your email">
            </div>
        </div>
        <div class="row mb-3">
            <label for="password" class="col-sm-3 col-form-label">Password</label>
            <div class="col-sm-9">
                <input formControlName="password" type="password" class="form-control" id="password" placeholder="Enter your password" >
            </div>
        </div>
        <button type="submit" class="btn">Log In</button>
    </form>
</div>
</div>