<footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 infof">
          <h5>Contact Us</h5>
          <p>Mau,</p>
          <p>Uttar Pradesh, India</p>
          <p>Email: 'manasmedimart&#64;gmail.com'</p>
          <p>Phone: +91-9336980842</p>
        </div>
        <div class="col-md-6">
          <h5>Follow Us</h5>
          <p>Stay connected with us on social media for updates and promotions:</p>
          <ul class="social-icons">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  