.footer1 {  

  bottom: 0;
  width: 100%;
    background-color: #f8f9fa;
    padding: 40px 0;
    color: #666;
    height: 25vh;
  }
  
  .footer1 h5 {
    color: #333;
  }
  
  .social-icons {
    list-style: none;
    padding: 0;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li:last-child {
    margin-right: 0;
  }
  
  .social-icons a {
    color: #666;
    font-size: 20px;
  }
  
  .social-icons a:hover {
    color: #333;
  }
@media screen and (max-width: 767px) {
    .footer1{
        height: 20vh;
        padding: 20px 0px;
    }
    .container{
      height: 15vh;
      width: 100vw;
    }
    h5{
      font-size: medium;
      margin-bottom: 3px;
    }
    p{
      font-size: x-small;
      margin: 2px;
      word-wrap: break-word;
    }
    .followBar{
      margin-top: 10px;
    }
}  